.button {
  font-weight: 700;
}

.button--primary {
  font-size: 18px;
  line-height: 18px;
  color: #1D2E5B;
  background-color: #FFD74B;
}

.button--secondary {
  font-size: 16px;
  line-height: 16px;
  color: #132576;
}

.button--transparent {
  background-color: transparent;
}
