.button {
  display: flex;
  text-align: center;
  width: 100%;
  font-family: inherit;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  background-color: transparent;
  padding: 0;
  border: none;

  &--primary {
    padding: 22px 23px;
    border-radius: 10px;
    color: $color-blue-2;
    background-color: $color-yellow-1;
  }

  &--secondary {
    font-size: 17px;
    line-height: 17px;
    text-transform: uppercase;
    padding: 12px 20px;
    border-radius: 25px;
    background-color: $color-yellow-1;
    color: $color-blue-1;
  }

  &--transparent {
    background-color: transparent;
  }

}
