.contacts-list__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.contacts-list__link--main-nav {
  color: #192144;
}

.contacts-list__link--main {
  color: #FFD74B;
}
