.country-filter__title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: $color-blue-3;
  text-transform: uppercase;
}

.country-list__link {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: $color-blue-3;
  opacity: 0.3;
  text-transform: uppercase;

  &--active {
    opacity: 1;
  }
}

.country-filter__button {
  font-size: 16px;
  line-height: 20px;
  border-radius: 20px;
  color: $color-blue-3;
  background-color: $color-grey-7;
  text-transform: uppercase;
}
