.directions-card__country {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.directions-card__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
}

.directions-card__counter {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #161C35;
}
