.directions-card__country {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $color-black-1;
}

.directions-card__text {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: $color-grey-1;
}

.directions-card__counter {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: $color-blue-4;
}
