.dropdown-country-list__header {
  background-color: $color-blue-2;
  padding: 13px 17px;
}

.dropdown-country-list__title {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: $color-white-1;
  text-transform: uppercase;
}
