.field-group {
  padding-top: 12px;
  padding-bottom: 14px;
  margin: 0;
  border: none;
}


.field-group__title {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: $color-blue-2;
  text-transform: uppercase;
}
