.filter {
  padding: 26px 20px 22px 20px;
  margin-bottom: 28px;
  background-color: $color-yellow-1;
}

.filter__title {
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  color: $color-blue-2;
  margin-bottom: 35px;
}
