.page__body {
  font-family: $font-default;
  font-style: normal;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: $color-grey-1;
}

.page__header {
  background-color: $color-blue-4;
  padding: 27px 31px;
}

.page__footer {
  position: relative;
  background-color: $color-white-1;

  @include border-radius-top(25px);
  margin-top: -25px;
  z-index: 10;
}

.page__main-catalog-content {
  &--wrapper {
    padding: 46px 25px;
    background-color: $color-grey-2;
  }
}
