.profile {
  background-color: $color-grey-2;
  padding: 20px 25px 55px 25px;
}

.profile__button {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  padding: 12px 20px;
  text-transform: uppercase;
  background-color: $color-grey-3;
}
