.promo {
  display: flex;
  flex-direction: column;
  background: url("../img/bg_promo-traveller.png") no-repeat center 110px,
              url("../img/bg_promo.jpg") no-repeat 0 -180px/100% 569px;
  background-color: $color-blue-4;
  color: $color-white-1;
}

.promo .container {
  padding-bottom: 50px;
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 33px;
  }
}

.promo__slogan {
  width: 240px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  margin: 0 auto 245px auto;

  @media (min-width: $tablet-width) {
    width: 400px;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 86px;
  }

  @media (min-width: $desktop-width) {
    width: 420px;
    text-align: start;
    margin: 0 0 100px 67px;
  }
}

.promo__review {
  width: 170px;
  font-size: 16px;
  line-height: 22px;
  margin: 0 25px 29px 25px;

  @media (min-width: $tablet-width) {
    width: 270px;
    margin-right: 32px;
  }
}

.promo__quote {
  font-weight: 300;
  margin: 0 0 18px 0;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    line-height: 32px;
  }
}

.promo__author {
  font-weight: 700;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
  }
}
