.promo {
  background-color: #161c35;
}

.promo__slogan {
  font-weight: 700;
  font-size: 36px;
  padding-bottom: 245px;
  line-height: 40px;
  color: #ffffff;
}

.promo__wrapper {
  padding-top: 21px;
  background-image: url("../img/bg_promo.jpg");
  background-repeat: no-repeat;
}

.promo__review {
  background-color: #161c35;
  font-size: 16px;
  line-height: 22px;
}

.promo__quote {
  font-weight: 300;
}

.promo__author {
  font-weight: 700;
  font-style: normal;
}

.promo__wrapper-list {
  background-color: #192144;
}
