.section {
  position: relative;
  overflow: auto;

  &--index {
    @include border-radius-bottom(25px);
    margin-bottom: -25px;
  }

  &--about {
    background-color: $color-blue-3;
    background-image: url("../img/bg_about-mobile.png");
    background-repeat: no-repeat;
    z-index: 7;
  }

  &--directions {
    background-color: $color-grey-2;
    z-index: 6;
  }

  &--companions {
    background: url("../img/bg_companions--smolov-back-desktop.png") no-repeat top right,
      url("../img/bg_companions--rogovaya-back-desktop.png") no-repeat bottom left;
    background-color: $color-blue-3;
    z-index: 5;
  }

  &--tariffs {
    background-color: $color-white-3;
    z-index: 4;
  }

  &--feedback {
    background-color: $color-blue-3;
    z-index: 3;
  }

  &--address {
    background-color: $color-yellow-1;
    z-index: 2;
  }

  &--form {
    padding: 30px 25px 55px 25px;

    @include border-radius-top(25px);
    margin-top: -25px;
  }

  &--country-filter {
    padding: 33px 0 15px 52px;
    background-color: $color-grey-6;
  }
}

.section__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: $color-yellow-4;
  margin: 0 0 19px 24px;

  @media (min-width: $tablet-width) {
    font-size: 45px;
    line-height: 45px;
    margin: 41px 0 40px 34px;
  }

  @media (min-width: $desktop-width) {
    margin: 42px 0 57px 70px;
  }

  &--form {
    color: $color-blue-2;
    margin-bottom: 29px;
  }
}

.section__text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
  color: $color-white-1;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    margin: 41px 0 40px 34px;
  }

  @media (min-width: $desktop-width) {
    line-height: 34px;
    margin: 42px 0 57px 70px;
  }
}

.section__text-optional {
  font-weight: 700;
  color: $color-white-1;
  margin-bottom: 82px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    line-height: 24px;
    margin-bottom: 85px;
  }
}
