.section {
  position: relative;

  &--index {
    padding: 101px 25px 34px 25px;

    @include border-radius-bottom(25px);
    margin-bottom: -25px;
  }

  &--about {
    background-color: $color-blue-3;
    background-image: url("../img/bg_about-mobile.png");
    background-repeat: no-repeat;
    padding: 33px 60px 82px 49px;
    z-index: 7;
  }

  &--directions {
    background-color: $color-grey-2;
    z-index: 6;
  }

  &--companions {
    background: url("../img/bg_companions--smolov-back-desktop.png") no-repeat top right,
      url("../img/bg_companions--rogovaya-back-desktop.png") no-repeat bottom left;
    background-color: $color-blue-3;
    z-index: 5;
  }

  &--tariffs {
    background-color: $color-white-3;
    z-index: 4;
  }

  &--feedback {
    background-color: $color-blue-3;
    z-index: 3;
  }

  &--address {
    background-color: $color-yellow-1;
    z-index: 2;
  }

  &--form {
    padding: 30px 25px 55px 25px;

    @include border-radius-top(25px);
    margin-top: -25px;
  }

  &--country-filter {
    padding: 33px 0 15px 52px;
    background-color: $color-grey-6;
  }
}

.section__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  color: $color-yellow-4;

  &--form {
    color: $color-blue-2;
    margin-bottom: 29px;
  }
}

.section__text {
  font-weight: 300;

  &--bold {
    font-weight: 700;
  }

  &--directions {
    color: $color-grey-1;
  }
}
