.steps__title {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: $color-blue-2;
  margin-bottom: 15px;
}

.steps__item {
  background-color: $color-white-1;
  padding: 30px 25px 23px 25px;
  border-radius: 10px;

  & + & {
    margin-top: 10px;
  }
}

.steps__text {
  font-weight: 400;
  color: $color-grey-1;
  margin-bottom: 20px;
}

.steps__button {
  font-size: 17px;
  line-height: 30px;
  padding: 7px 20px;
  text-transform: uppercase;
}
