.todo-list {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: $color-blue-4;
}

.todo-list__item {
  &:nth-child(n) {
    background-color: $color-yellow-4;
  }

  &:nth-child(2n) {
    background-color: $color-yellow-3;
  }

  &:nth-child(3n) {
    background-color: $color-yellow-2;
  }

  &:nth-child(4n) {
    background-color: $color-yellow-1;
  }
}
